<router-outlet></router-outlet>

<div class="container">
    <label>Nome </label>
    <input type="text" placeholder="Nome">
    <label>Sobrenome </label>
    <input type="text" placeholder="Sobrenome">
    <label>CPF </label>
    <input type="text" placeholder="CPF">
    <label>Telefone </label>
    <input type="text" placeholder="Telefone">
    <label>CEP </label>
    <input type="text" placeholder="CEP">
    <label>Endereço </label>
    <input type="text" placeholder="Endereço">
    <label >Número </label>
    <input type="text" placeholder="texto">
    <label>Observação </label>
    <input  placeholder="Observação"type="text">
    <button type="button">Fazer Login</button>
    <div class="container__cadastro" routerLink='../cadastro'>Não tem uma conta? Cadastre-se aqui</div>
</div>
