.lista {
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    position: absolute;

    


}

.lista__imagem {
    border: 1px solid rgb(85, 0, 221);
    max-height: 80px;
    border-radius: 5px;

}

.lista__descricao {
    border: 1px solid rgb(0, 255, 34);
    font-size: 16px;
    margin-left: 5px;

}

.lista__remover {
    border: 1px solid black;
    font-size: 8px;
    color: rgb(170, 170, 170);
}

.lista__preco {

    border: 1px solid rgb(208, 255, 0);
}
