<div>
    <div>
        <div>
            <span>{{sampleData.length}} {{sampleData.length > 1 ? 'Itens' : 'Item'}} no seu carrinho</span>
        </div>
        <div>
            <span></span>
        </div>
        <div>
            <button (click)="clearCart()">Limpar carrinho</button>
        </div>
    </div>
    <div *ngIf="sampleData.length > 0">
        <div *ngFor="let data of sampleData">
            <img src="..//..//assets/{{data.imgUrl}}">
            <div>
                <p>{{data.name}}</p>
                <span (click)="removeData(data)">Remover do carrinho</span>
            </div>
            <div>
                <span>{{data.price | currency}}</span>
            </div>
        </div>
    </div>
</div>