<p class="sublinhar"> Pasteis</p>
<div class="container">
    <div class="container__produtos" *ngFor="let data of pastelData">
        <img src="..//..//assets/{{data.imgUrl}}">
        <div>
            <p>
                {{data.name}}
            </p>
            <!-- //currency pipe -->
            <div>
                <span (click)="addItems(data)">{{data.status === 'Adicionado'? data.status:(data.price | currency : 'R$ ' )}}</span>

            </div>
        </div>
    </div>

</div>

<p class="sublinhar"> Bebidas</p>
<div class="container">


    <div class="container__produtos" *ngFor="let data of refriData">
        <img src="..//..//assets/{{data.imgUrl}}">
        <div>
            <p>
                {{data.name}}
            </p>
            <!-- //currency pipe -->
            <div>
                <span (click)="addItems(data)">{{data.status === 'Adicionado'? data.status:(data.price | currency : 'R$ ' )}}</span>

            </div>
        </div>
    </div>

    <button (click)="PrecoTeste(pastelData)"></button>
</div>