.slide {
    display: flex;
    justify-content: center;
}

i {
    position: relative;
    display: flex;
    width: 1024px;
    height: 400px;
    overflow: hidden;
    border-radius: 5px;
}

i:before,
i:after {
    content: '<';
    position: absolute;
    top: 50%;
    left: 1rem;
    z-index: 2;
    width: 2rem;
    height: 2rem;
    background: rgb(182, 104, 3);
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

i:after {
    content: '>';
    left: auto;
    right: 1rem;
}

input {
    appearance: none;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    transform: translateX(100%);
    transition: transform ease-in-out 400ms;
    z-index: 1;
}

input:focus {
    outline: none;
}

input:after {
    content: attr(title);
    position: absolute;
    top: 1rem;
    left: 1rem;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    padding: .5rem;
    font-size: 1rem;
    border-radius: 5px;
}

input:not(checked):before {
    content: '';
    position: absolute;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    top: 50%;
    left: calc(-100% + 1rem);
}

input:checked:before {
    display: none;
    left: 1rem;
}

input:checked {
    transform: translateX(0);
    z-index: 0;
    box-shadow: -5px 10px 20px -15px rgb(182, 104, 3);
}

input:checked+input:before {
    left: -3rem;
}

input:checked+input~input:before {
    display: none;
}


/* DESTAQUES */

img {
    max-width: 190px;
    height: 190px;
    border-radius: 5px;
}

img:hover {
    width: 195px;
    height: 195px;
    opacity: .85;
}

p {
    text-align: center;
    font-size: 16px;
    margin-top: 5px;
    font-weight: bold;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: center;
}

.container__produtos {
    margin: 10px;
    text-align: center;
}

span {
    font-size: 12px;
    font-weight: bold;
    color: rgba(34, 119, 23, 0.75);
    box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.25);
    border: solid 1px rgba(0, 0, 0, 0.25);
    padding: 5px 8px;
    margin: 0px 5px;
    border-radius: 5px;
    cursor: pointer;
}

span:hover {
    color: #ffffff;
    background-color: #036107;
    border: solid 1px rgba(255, 255, 255, 0.25);
    transition: .5s background-color;
    padding: 8px 10px;
}

span:active {
    color: #ffffff;
    padding: 6px 8px;
}

.titulo {
    color: rgb(182, 104, 3);
    font-size: 25px;
    margin-top: 30px;
}

.sublinhar {
    position: relative;
    overflow: hidden;
    will-change: color;
    transition: color .10s ease-out;
    margin-top: 50px;
    padding-bottom: 30px;
}

.sublinhar::before,
.sublinhar::after {
    content: "";
    width: 0;
    height: 5px;
    background-color: #fc6200;
    will-change: width;
    transition: width .1s ease-out;
    position: absolute;
    bottom: 0;
}

.sublinhar::before {
    left: 50%;
    transform: translateX(-50%);
}

.sublinhar::after {
    right: 50%;
    transform: translateX(50%);
}

.sublinhar:hover::before,
.sublinhar:hover::after {
    width: 100%;
    transition-duration: .4s;
}