<router-outlet></router-outlet>

<div>

    <div>
        <table>
            <thead>
                <tr *ngFor="let usuario of usuarios">
                    <td>{{usuario.id}}</td>
                    <td>{{usuario.nome}}</td>
                    <td>{{usuario.sobrenome}}</td>
                    <td>{{usuario.cpf}}</td>
                    <td>{{usuario.telefone}}</td>
                    <td>{{usuario.cep}}</td>

                    <button type="button" class="btn btn-warning btn-sm" (click)="editUsuario(usuario)">Editar</button>
                </tr>
            </thead>

        </table>
    </div>
</div>
<div>
    <h5>Adicionar/Atualizar Usuario</h5>


    <!-- lista de campos a preencher-->
    <div>
        <form id="add-form" (ngSubmit)="f.form.valid && saveUsuario(f)" #f="ngForm" novalidate>
               <!-- campo a ser preenchido-->
               <div>
                <label for="nome">Nome</label>
                <input type="text" [(ngModel)]="usuario.nome" id="nome" name="nome" #nome="ngModel" required
                    [ngClass]="{ 'is-invalid': f.submitted && nome.invalid }" placeholder="Digite o nome">
                <div *ngIf="f.submitted && nome.invalid">

                </div>
                <div>
                    <label for="descricao">Sobrenome</label>
                    <input type="text" [(ngModel)]="usuario.sobrenome" id="descricao" name="descricao" #descricao="ngModel" required [ngClass]="{ 'is-invalid': f.submitted && descricao.invalid }"placeholder="Digite o sobrenome">
                    <div *ngIf="f.submitted && descricao.invalid">
                    </div>
                </div>
                <div>
                    <label for="cpf">CPF</label>
                    <input type="text" [(ngModel)]="usuario.cpf" id="descricao" name="descricao" #descricao="ngModel" required [ngClass]="{ 'is-invalid': f.submitted && descricao.invalid }"placeholder="000.000.000-00">
                    <div *ngIf="f.submitted && descricao.invalid">
                    </div>
                </div>
                <div>
                    <label for="telefone">Telefone</label>
                    <input type="text" [(ngModel)]="usuario.telefone" id="descricao" name="descricao" #descricao="ngModel" required [ngClass]="{ 'is-invalid': f.submitted && descricao.invalid }"placeholder="00 00000-0000">
                    <div *ngIf="f.submitted && descricao.invalid">
                    </div>
                </div>
                <div>
                    <label for="cep">CEP</label>
                    <input type="text" [(ngModel)]="usuario.cep" id="descricao" name="descricao" #descricao="ngModel" required [ngClass]="{ 'is-invalid': f.submitted && descricao.invalid }"placeholder="00000-000">
                    <div *ngIf="f.submitted && descricao.invalid">
                    </div>
                </div>
                <div>
                    <label for="endereco">Endereco</label>
                    <input type="text" [(ngModel)]="usuario.endereco" id="descricao" name="descricao" #descricao="ngModel" required [ngClass]="{ 'is-invalid': f.submitted && descricao.invalid }"placeholder="Endereço sem número">
                    <div *ngIf="f.submitted && descricao.invalid">
                    </div>
                </div>
                <div>
                    <label for="numero">Numero</label>
                    <input type="text" [(ngModel)]="usuario.numero" id="descricao" name="descricao" #descricao="ngModel" required [ngClass]="{ 'is-invalid': f.submitted && descricao.invalid }"placeholder="Somente numeros">
                    <div *ngIf="f.submitted && descricao.invalid">
                    </div>
                </div>
                <div>
                    <label for="observacao">Observação</label>
                    <input type="text" [(ngModel)]="usuario.observacao" id="descricao" name="descricao" #descricao="ngModel" required [ngClass]="{ 'is-invalid': f.submitted && descricao.invalid }"placeholder="Complemento de endereço">
                    <div *ngIf="f.submitted && descricao.invalid">
                    </div>
                </div>

                <div>
                    <label for="login">Login</label>
                    <input type="text" [(ngModel)]="usuario.login" id="descricao" name="descricao" #descricao="ngModel" required [ngClass]="{ 'is-invalid': f.submitted && descricao.invalid }"placeholder="Complemento de endereço">
                    <div *ngIf="f.submitted && descricao.invalid">
                    </div>
                </div>
                <div>
                    <label for="senha">Senha</label>
                    <input type="text" [(ngModel)]="usuario.senha" id="descricao" name="descricao" #descricao="ngModel" required [ngClass]="{ 'is-invalid': f.submitted && descricao.invalid }"placeholder="Complemento de endereço">
                    <div *ngIf="f.submitted && descricao.invalid">
                    </div>
                </div>

            </div>


            <button type="submit"  >Salvar</button>
            <button type="reset" (click)="cleanForm(f)">Cancelar</button>
        </form>
    </div>
</div>
