<nav class="menu">
    <img src="../assets/logo_padrao.svg">
    <li id="menu__lista" routerLink="./inicio">Inicio</li>
    <li id="menu__lista" routerLink="./produtos">Produtos </li>
    <li id="menu__lista" routerLink='./contato'>Contato</li>
    <li *ngIf='mostrarPerfil' id="menu__lista" routerLink='./carrinho'>Minha conta</li>
    <li *ngIf='mostrarLogin' id="menu__lista" routerLink='./login'>Login </li>
    <li *ngIf='mostrarLogin' id="menu__lista" routerLink='./cadastro'>
        <p>Não tem uma conta? Cadastre-se</p>
        
    </li>
    <app-cart-header></app-cart-header>

</nav>

<router-outlet></router-outlet>