li {
    list-style-type: none;
}

img {
    max-width: 10%;
    margin-right: 10%;
}

.menu__link:focus {
    color: orange;
}

.menu:hover .menu__link:hover {
    opacity: 0.8;
    margin-top: 3px;
    color: rgb(119, 70, 15);
}

.menu:hover .menu__link:active {
    opacity: 0.8;
    font-weight: bold;
    margin-top: 3px;
    color: rgb(119, 70, 15);
    font-size: 102%;
}

.menu__lista {
    display: flex;
}

.menu__link {
    padding: var(--menuLinkPadding, 1.5rem 2.5rem);
    font-weight: 700;
    text-transform: uppercase;
}

.sublinhar {
    position: relative;
    overflow: hidden;
    will-change: color;
    transition: color .10s ease-out;
}

.sublinhar::before,
.sublinhar::after {
    content: "";
    width: 0;
    height: 5px;
    background-color: orange;
    will-change: width;
    transition: width .1s ease-out;
    position: absolute;
    bottom: 0;
}

.sublinhar::before {
    left: 50%;
    transform: translateX(-50%);
}

.sublinhar::after {
    right: 50%;
    transform: translateX(50%);
}

.sublinhar:hover::before,
.sublinhar:hover::after {
    width: 100%;
    transition-duration: .4s;
}