h2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: bold;
    margin: 20px 30px;
    padding: 0 30px 20px 30px;
}

h2:hover {
    transition: 0.3s;
    color: rgb(119, 70, 15);
    padding-top: 2px;
}

h2:focus {
    color: orangered;
    outline: none;
}

div {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.sublinhar {
    position: relative;
    overflow: hidden;
    will-change: color;
    transition: color .10s ease-out;
}

.sublinhar::before, .sublinhar::after {
    content: "";
    width: 0;
    height: 5px;
    background-color: #fc6200;
    will-change: width;
    transition: width .1s ease-out;
    position: absolute;
    bottom: 0;
}

.sublinhar::before {
    left: 50%;
    transform: translateX(-50%);
}

.sublinhar::after {
    right: 50%;
    transform: translateX(50%);
}

.sublinhar:hover::before, .sublinhar:hover::after {
    width: 100%;
    transition-duration: .4s;
}

body {
    min-height: 400px;
}