h2 {
    display: flex;
    justify-content: center;
    font-weight: bold;
}

table {
    display: flex;
    flex-direction: column;
}

.container__dados {
    display: flex;
    justify-content: center;
    background: orange;
    padding: 0 50%;
    height: 480px;
    align-items: top;
}

th,
td {
    color: rgb(250, 250, 250);
    font-size: 18px;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 10px;
}

#endereco__container {
    margin-top: 30px;
    margin-bottom: 30px;
}

#endereco {
    color: black;
}

.botao {
    background: rgb(133, 55, 55);
    border: none;
    padding: 10px 80px;
    font-weight: bold;
    border-radius: 5px;
    color: orange;
}

.botao:hover {
    background: yellow;
    transition: 1s;
    font-size: 14px;
    align-items: center;
    text-align: center;
}

.botao:active {
    background: orange;
    color: white;
}

#ocultar {
    display: none;
}

#mostra {
    display: none;
}

#ocultar:checked~#mostra {
    display: block;
}

#ocultar:checked~#mostra {
    display: block;
}

.editar {
    border: 1px solid black;
    display: flex;
    text-align: center;
}

#form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}