.container {
    -webkit-box-shadow: 0px 12px 15px -5px rgba(0,0,0,0.2); 
    box-shadow: 0px 12px 15px -5px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: stretch;
    margin: 20px 10% 5px 10%;
    border-radius: 10px;
    background-color: rgb(250, 250, 250);
}



.lista__imagem {

    max-width: 100px;
    border-radius: 5px;
    margin: 10px 0;
}

.lista__descricao {

    font-size: 15px;
    font-weight: bold;
}

.lista__remover {

    font-size: 10px;
    color: rgb(170, 170, 170);
}

.lista__remover:active {
    color: red;
    font-weight: bold;
}

.lista__remover:hover { 
    font-weight: bold;
}

.lista__preco { 

    font-weight: bold;
    color: darkgreen; 
    margin-top: 15px; 
}

.container__limpar {

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
    margin: 25px 10% 0 10%;
    -webkit-box-shadow: 0px 12px 15px -5px rgba(0,0,0,0.2); 
    box-shadow: 0px 12px 15px -5px rgba(0,0,0,0.2);
    background-color: rgb(250, 250, 250);
}

.limpar__carrinho {
    border: none;
    color: #747272;
    max-height: 50px;
    background-color: white;
    font-size: 10px;
}



.itens__carrinho {
    font-size: 12px;
    font-weight: bold;
}

.checkout {
    background: #fc6200;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 5px;
    color: white;
}

.checkout:hover {
    background: yellow;
    transition: 1s;

}

.checkout:active {
    background: white;
    color: orangered;
}

.total { 
    font-weight: bold;
}

.total__preco { 
    color: green;
}

body {
    min-height: 400px;
}