<router-outlet>

</router-outlet>
<div>
    <h1>"A pastelaria do Deivide tem mais de 50 horas de desenvolvimento. <br>Estamos localizads na cidade de Tatuí, uma tradição passada de pastel <br>em pastel ao longo do css e pesquisas no StackOverflow."</h1>

    <h2>Nosso contato</h2>
    <p id="sublinhar">WhatsApp: (15) 98834-1654</p>
    <p id="sublinhar">E-mail: deivide.santos@djsystem.com.br</p>
    <p id="sublinhar">Também estamos no
        <a href="http://lambretinha.com.br" target="_blank">Lambretinha delivery</a>
    </p>
    <p id="sublinhar"><a href="http://behance.net/deividepaulino" target="_blank">Behance</a></p>

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1089.0302235360912!2d-47.85294735877149!3d-23.35033185980475!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94c5d932610a29c7%3A0x854c7c9d785777a7!2sDJSystem%20Automa%C3%A7%C3%A3o%20Comercial!5e0!3m2!1spt-BR!2sbr!4v1617543416963!5m2!1spt-BR!2sbr"
        width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>