#ocultarDinheiro {
    display: none;
  }
  #ocultarDinheiro:checked ~ #dinheiro {
    display: none;
  }
  #ocultarDinheiro:checked ~ #dinheiro__exibir {
    display: block;
  }

  #dinheiroInput {
    display: none;
  }
  #validarDinheiro:checked ~ #dinheiroInput {
      display: block;
  }

  #ocultarCartao {
    display: none;
  }
  #ocultarCartao:checked ~ #cartao {
    display: none;
  }
  #ocultarCartao:checked ~ #cartao__exibir {
    display: none;
  }

  #cartaoInput {
    display: none;
  }
  #validarCartao:checked ~ #cartaoInput {
      display: block;
  }

  .container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin: 0 20%;
    background-color: rgb(250, 250, 250);
    -webkit-box-shadow: 0px 12px 15px -5px rgba(0,0,0,0.2); 
    box-shadow: 0px 12px 15px -5px rgba(0,0,0,0.2);
    border-radius: 10px;
    margin-top: 15px;
  }

  .cupom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: stretch;
    margin-top: 15px;
  }


  .taxa__entrega { 
    position: relative;
    top: 25px;
    font-weight: 300;
    font-size: 10px;
  }

  .forma__pagamento { 
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: stretch;
    margin-bottom: 15px;
  }

  button {
    background: #fc6200;
    border: none;
    margin-top: 20px;
    padding: 10px 15%;
    font-weight: bold;
    border-radius: 5px;
    color: white;
}

button:hover {
    background: yellow;
    transition: 0.3s;
}

button:active {
    background: white;
    color: black;
}

input {
  border: rgb(215, 215, 218) solid 1px;
  font-size: 15px;
  padding: 8px 10px;
  background: rgb(240, 240, 240);
  opacity: .7;
}

.valor { 
  display: flex;
  flex-direction: column;
}

p { 
  font-weight: bold;
}

#label__pagamento { 
  padding: 15px 0;
  font-size: 16px;
  font-weight: bold;
  color: orangered;
  position: relative;
  overflow: hidden;
  will-change: color;
  transition: color .10s ease-out;
}


#label__pagamento::before,
#label__pagamento::after {
  content: "";
  width: 0;
  height: 5px;
  background-color: #fc6200;
  will-change: width;
  transition: width .1s ease-out;
  position: absolute;
  bottom: 0;
}

#label__pagamento::before {
  left: 50%;
  transform: translateX(-50%);
}

#label__pagamento::after {
  right: 50%;
  transform: translateX(50%);
}

#label__pagamento:hover::before,
#label__pagamento:hover::after {
  width: 100%;
  transition-duration: .4s;
}