<div class="container">
  <h2>Acompanhe seu pedido</h2>
  <h3> nº #0007</h3>
  <div class="timeline">
    <div class="etapa">
      <strong class="etapa__nome">Pedido recebido!</strong>
      <p>Nossos mestres receberam seu pedido</p>
    </div>
    <div class="etapa">
      <strong>Em preparação.</strong>
      <p class="etapa__descricao">A gordura já tá esquentando!!!</p>
    </div>
    <div class="etapa">
      <strong></strong>
      <p class="etapa__descricao">Saiu para entrega.</p>
    </div>
    <div class="etapa">
      <strong>Pedido entregue</strong>
      <p class="etapa__descricao">Agora é só aproveitar e degustar</p>
    </div>
    <div class="etapa">
      <strong>Pedido finalizado</strong>
      <p class="etapa__descricao">Não esqueça de lançar aquela avaliação, e contar o que achou do seu pedido!</p>
    </div>
  </div>
</div>